NODE_ENV=development
PORT=3333
HOST=0.0.0.0
APP_KEY=
LOG_LEVEL=info

# AdonisJS (Lucid)
DB_CONNECTION=pg
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=adonis
DB_PASSWORD=adonis
DB_DATABASE=silvus_me

# URL de connexion complète (utile selon la config choisie)
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}"

RESEND_API_KEY=re_xxx
RESEND_FROM=no-reply@silvus.me
RESEND_TO=hello@silvus.me

ADMIN_LOGIN=admin
ADMIN_PASSWORD=change-me
ADMIN_SESSION_TTL_HOURS=12

S3_ENDPOINT=127.0.0.1
S3_PORT=9000
S3_USE_SSL=false
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=silvus-assets
S3_REGION=us-east-1
S3_PUBLIC_URL=http://127.0.0.1:9000
MINIO_CONSOLE_PORT=9001